# === Зависимости ===
# Node (Frontend)
/node_modules

# PHP (Backend)
/api/vendor
/api/composer.lock


# === Сборка проекта ===
/dist


# === Логи ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# === Файлы IDE и ОС ===
.vscode/
.idea/
.DS_Store


# === Секреты и переменные окружения ===
# Секретный ключ API для PHP
/api/config.php

# Файлы переменных окружения
.env*